<p id="selected-user"></p>
<div class="user-post-wrapper" id="user-posts-list">
</div>
<div class="user-post hidden" id="user-post-template">
    <div class="user-post__title mb-2">Addo crinis voluptatem spero ademptio saepe.</div>
    <div class="user-post__body">Qui molestias delectus. Caelestis caecus solium. Iste clarus tyrannus. Libero textus natus. Adulescens coruscus animi. Quidem varius amicitia. Traho teneo cibus. Conitor theca adulescens. Bestia soleo quidem. Sint aetas terreo. Tempus in deporto. Stipes aut arceo. Defluo cumque tero. Comburo cilicium varietas. Inflammatio acsi confugo. Tabella arcesso natus. Voluptatem ambitus usque. Cauda consequuntur coniuratio.</div>
</div>